---
http_interactions:
- request:
    method: get
    uri: https://elodge.swan.wa.gov.au/Pages/XC.Track/SearchApplication.aspx?d=thisweek&k=LodgementDate&o=xml&t=282,281,283
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>463237</ApplicationId>\r\n
        \   <NatureOfApplication>CERTIFIED Swimming Pool/Spa                       </NatureOfApplication>\r\n
        \   <NatureOfApplicationType>707</NatureOfApplicationType>\r\n    <ReferenceNumber>BP-1199/2019</ReferenceNumber>\r\n
        \   <Status>Application Lodged</Status>\r\n    <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>1199</ReferenceNumberNumber>\r\n    <ApplicationDetails>Swimming
        Pool and Barrier</ApplicationDetails>\r\n    <CreatedDate>2019-06-04T00:00:00+08:00</CreatedDate>\r\n
        \   <LodgementDate>2019-06-04T00:00:00+08:00</LodgementDate>\r\n    <EstimatedCost>0.000000</EstimatedCost>\r\n
        \   <OfficerTitle>Janelle Dowling                                   </OfficerTitle>\r\n
        \   <DADays>3</DADays>\r\n    <ApplicationIdS>463237</ApplicationIdS>\r\n
        \   <Address>\r\n      <PropertyId>494184</PropertyId>\r\n      <ParcelId>198311</ParcelId>\r\n
        \     <GeoCodeId>12191404</GeoCodeId>\r\n      <ApplicationId>463237</ApplicationId>\r\n
        \     <Line1>2 Inglis Alley\rTHE VINES  WA  6069                                                                  </Line1>\r\n
        \     <Line2 />\r\n      <FullLegalDescription>Lot 8805 on Dep Plan 406076</FullLegalDescription>\r\n
        \     <ApplicationIdS>463237</ApplicationIdS>\r\n    </Address>\r\n    <Party>\r\n
        \     <PartyId>610072</PartyId>\r\n      <ApplicationId>463237</ApplicationId>\r\n
        \     <PartyRole>Applicant                                         </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>KING</FamilyName>\r\n      <GivenName>BENJAMIN
        THOMAS</GivenName>\r\n      <Initial>BT   </Initial>\r\n      <NameType>P</NameType>\r\n
        \     <FullName>Benjamin Thomas King</FullName>\r\n      <Line1>16 Woburn
        Park Av\rELLENBROOK  WA  6069</Line1>\r\n      <ApplicationIdS>463237</ApplicationIdS>\r\n
        \   </Party>\r\n    <Event>\r\n      <EventId>1389392</EventId>\r\n      <ApplicationId>463237</ApplicationId>\r\n
        \     <EventCode>10 DAYS   </EventCode>\r\n      <Description>10 Days                                           </Description>\r\n
        \     <Sequence>1</Sequence>\r\n      <Officer>Janelle Dowling                                   </Officer>\r\n
        \     <DateOpen>2019-06-04T08:34:50.08+08:00</DateOpen>\r\n      <DateDue>2019-06-18T08:34:49+08:00</DateDue>\r\n
        \     <Comment>C</Comment>\r\n      <StopClock>N</StopClock>\r\n      <StopClockReason
        />\r\n      <Days>3</Days>\r\n      <LodgementDate>2019-06-04T00:00:00+08:00</LodgementDate>\r\n
        \     <ApplicationIdS>463237</ApplicationIdS>\r\n    </Event>\r\n    <Event>\r\n
        \     <EventId>1389393</EventId>\r\n      <ApplicationId>463237</ApplicationId>\r\n
        \     <EventCode>LODGE-CDC </EventCode>\r\n      <Description>Building Permit
        - Maintaining Task                </Description>\r\n      <Sequence>2</Sequence>\r\n
        \     <Officer>Rohini Jayawickrama                               </Officer>\r\n
        \     <DateOpen>2019-06-05T14:56:47.06+08:00</DateOpen>\r\n      <DateDue>2019-06-11T08:34:49+08:00</DateDue>\r\n
        \     <DateClosed>2019-06-05T15:02:13+08:00</DateClosed>\r\n      <Comment>C</Comment>\r\n
        \     <StopClock>N</StopClock>\r\n      <StopClockReason />\r\n      <Days>0</Days>\r\n
        \     <LodgementDate>2019-06-04T00:00:00+08:00</LodgementDate>\r\n      <ApplicationIdS>463237</ApplicationIdS>\r\n
        \   </Event>\r\n    <Event>\r\n      <EventId>1389394</EventId>\r\n      <ApplicationId>463237</ApplicationId>\r\n
        \     <EventCode>INASSESS  </EventCode>\r\n      <Description>Initial Assessment
        \                               </Description>\r\n      <Sequence>3</Sequence>\r\n
        \     <DateDue>2019-06-05T08:34:49[...]
